In [2]:
"""
Database Table Definitions

+-------------------------------------------+-------------------------------------------+
| Table Name                                | Column Details                            |
+-------------------------------------------+-------------------------------------------+
| census_employment_rate                    | id BIGINT (PK, AUTO_INC)                 |
|                                           | muncipality VARCHAR(200)                 |
|                                           | year YEAR                                |
|                                           | gender ENUM('male', 'both', '', '')      |
|                                           | category ENUM('unemployment rate',       |
|                                           | 'employment rate', '', '')               |
|                                           | rate FLOAT                               |
+-------------------------------------------+-------------------------------------------+
| municipalities_natural_gas_production     | id BIGINT (PK, AUTO_INC)                 |
|                                           | muncipality VARCHAR(200)                 |
|                                           | year YEAR                                |
|                                           | value FLOAT                              |
+-------------------------------------------+-------------------------------------------+
| municipalities_oil_production             | id BIGINT (PK, AUTO_INC)                 |
|                                           | muncipality VARCHAR(200)                 |
|                                           | year YEAR                                |
|                                           | value FLOAT                              |
+-------------------------------------------+-------------------------------------------+
| municipalities_rent                       | id BIGINT (PK, AUTO_INC)                 |
|                                           | muncipality VARCHAR(200)                 |
|                                           | year YEAR                                |
|                                           | rental_type ENUM('2 - bedroom',          |
|                                           | '3 - bedroom', 'bachelor', '')           |
|                                           | value FLOAT                              |
+-------------------------------------------+-------------------------------------------+
| municipalities_well_count                 | id BIGINT (PK, AUTO_INC)                 |
|                                           | muncipality VARCHAR(200)                 |
|                                           | year YEAR                                |
|                                           | value INT                                |
+-------------------------------------------+-------------------------------------------+
| natural_gas_prices                        | id BIGINT (PK, AUTO_INC)                 |
|                                           | year YEAR                                |
|                                           | price FLOAT                              |
+-------------------------------------------+-------------------------------------------+
| oil_price                                 | id BIGINT (PK, AUTO_INC)                 |
|                                           | date DATE                                |
|                                           | value FLOAT                              |
+-------------------------------------------+-------------------------------------------+

"""

"\nDatabase Table Definitions\n\n+-------------------------------------------+-------------------------------------------+\n| Table Name                                | Column Details                            |\n+-------------------------------------------+-------------------------------------------+\n| census_employment_rate                    | id BIGINT (PK, AUTO_INC)                 |\n|                                           | muncipality VARCHAR(200)                 |\n|                                           | year YEAR                                |\n|                                           | gender ENUM('male', 'both', '', '')      |\n|                                           | category ENUM('unemployment rate',       |\n|                                           | 'employment rate', '', '')               |\n|                                           | rate FLOAT                               |\n+-------------------------------------------+-------------------------------------------+\n| municipalities_natural_gas_production     | id BIGINT (PK, AUTO_INC)                 |\n|                                           | muncipality VARCHAR(200)                 |\n|                                           | year YEAR                                |\n|                                           | value FLOAT                              |\n+-------------------------------------------+-------------------------------------------+\n| municipalities_oil_production             | id BIGINT (PK, AUTO_INC)                 |\n|                                           | muncipality VARCHAR(200)                 |\n|                                           | year YEAR                                |\n|                                           | value FLOAT                              |\n+-------------------------------------------+-------------------------------------------+\n| municipalities_rent                       | id BIGINT (PK, AUTO_INC)                 |\n|                                           | muncipality VARCHAR(200)                 |\n|                                           | year YEAR                                |\n|                                           | rental_type ENUM('2 - bedroom',          |\n|                                           | '3 - bedroom', 'bachelor', '')           |\n|                                           | value FLOAT                              |\n+-------------------------------------------+-------------------------------------------+\n| municipalities_well_count                 | id BIGINT (PK, AUTO_INC)                 |\n|                                           | muncipality VARCHAR(200)                 |\n|                                           | year YEAR                                |\n|                                           | value INT                                |\n+-------------------------------------------+-------------------------------------------+\n| natural_gas_prices                        | id BIGINT (PK, AUTO_INC)                 |\n|                                           | year YEAR                                |\n|                                           | price FLOAT                              |\n+-------------------------------------------+-------------------------------------------+\n| oil_price                                 | id BIGINT (PK, AUTO_INC)                 |\n|                                           | date DATE                                |\n|                                           | value FLOAT                              |\n+-------------------------------------------+-------------------------------------------+\n\n"

### Query 1

This query will blahs

```
  SELECT * FROM
```