## Database Table Definitions

#### census_employment_rate
- `id`: BIGINT (Primary Key, Auto Increment)
- `municipality`: VARCHAR(200), Not Null
- `year`: YEAR, Not Null
- `gender`: ENUM('male', 'both', '', ''), Not Null
- `category`: ENUM('unemployment rate', 'employment rate', '', ''), Not Null
- `rate`: FLOAT, Not Null

#### municipalities_natural_gas_production
- `id`: BIGINT (Primary Key, Auto Increment)
- `municipality`: VARCHAR(200), Not Null
- `year`: YEAR, Not Null
- `value`: FLOAT, Not Null

#### municipalities_oil_production
- `id`: BIGINT (Primary Key, Auto Increment)
- `municipality`: VARCHAR(200), Not Null
- `year`: YEAR, Not Null
- `value`: FLOAT, Not Null

#### municipalities_rent
- `id`: BIGINT (Primary Key, Auto Increment)
- `municipality`: VARCHAR(200), Not Null
- `year`: YEAR, Not Null
- `rental_type`: ENUM('2 - bedroom', '3 - bedroom', 'bachelor', ''), Not Null
- `value`: FLOAT, Not Null

#### municipalities_well_count
- `id`: BIGINT (Primary Key, Auto Increment)
- `municipality`: VARCHAR(200), Not Null
- `year`: YEAR, Not Null
- `value`: INT, Not Null

#### natural_gas_prices
- `id`: BIGINT (Primary Key, Auto Increment)
- `year`: YEAR, Not Null
- `price`: FLOAT, Not Null

#### oil_price
- `id`: BIGINT (Primary Key, Auto Increment)
- `date`: DATE, Not Null
- `value`: FLOAT, Not Null

### Query 1

Query to get the top 5 municipalities with the highest rent for each rental type

```
SELECT DISTINCT municipality, rental_type, average_rent
FROM (
    SELECT municipality, rental_type, AVG(value) as average_rent
    FROM municipalities_rent
    WHERE rental_type = RENTAL_TYPE
    AND year >= LOWER_YEAR AND year <= UPPER_YEAR
    GROUP BY municipality, rental_type
) avg_rents
ORDER BY average_rent DESC
LIMIT 5;
```

### Query 2

Query to get the municipality with the highest male employment rate per census year 

```
  SELECT municipality, year, rate
  FROM census_employment_rate
  WHERE gender = GENDER_TYPE AND category = CATEGORY
  ORDER BY year, rate DESC
  LIMIT 1;
```

### Query 3

Query to get all the distinct rental types

```
  SELECT distinct(rental_type) FROM municipalities_rent;
```

### Query 4

Query to get the top 5 natural gas-producing municipalities


```
  SELECT municipality, SUM(value) AS total_production
  FROM municipalities_natural_gas_production
  GROUP BY municipality
  ORDER BY total_production DESC
  LIMIT 5;
```

### Query 5

Query to get the well count for each municipality for the years 2014 - 16

```
  SELECT municipality, year, value AS well_count
  FROM municipalities_well_count
  WHERE year BETWEEN 2014 AND 2016
  ORDER BY year, municipality;
```